@page "/dashboard"
<link href="css/main.css" rel="stylesheet" />
<link href="css/dashboard-stylesheet.css" rel="stylesheet" />

<div class="centered-container">
      <div>
        <h1>
          Hello, Super Admin!
        </h1>
      </div>
      <div class="container">
        <div class="item container-inside" style="background-color: #efebe0">
          <div class="item-inside">
            <h2
              style="
                padding-top: 50%;
                padding-bottom: auto;
                font-weight: 700;
                font-size: 10vh;
                text-align: center;
              "
            >
              60
            </h2>
            <h4>
              Total Admins
            </h4>
          </div>
        </div>
        <div class="item">
          <div
            class="container-inside"
            style="background-color: #efebe0; margin-bottom: 10px"
          >
            <div class="item-inside">
              <h2 style="font-weight: 700; font-size: 8vh; text-align: center">
                12
              </h2>
              <h4
                style="font-weight: 600; font-size: 2.5vh; text-align: center"
              >
                New Admins Added
              </h4>
            </div>
          </div>
          <div class="container-inside" style="background-color: #efebe0">
            <div class="item-inside">
              <h2 style="font-weight: 700; font-size: 8vh; text-align: center">
                2
              </h2>
              <h4
                style="font-weight: 600; font-size: 2.5vh; text-align: center"
              >
                Admins Removed
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>


@code {

}
