/*
  This stylesheet is used for common components found in multiple pages
*/

.button {
    display: block;
    border-radius: 0%;
    font-weight: 700;
    border-color: transparent;
    padding: 15px;
    background-color: #ae431e;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
    border-radius: 6.5px;
}

    .button:hover {
        background-color: #ae431e;
    }

.content-link-right {
    display: block;
    padding-right: 22.5%;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    text-decoration: none;
    font-weight: 700;
    font-size: 10pt;
    color: black;
}

    .content-link-right:hover {
        display: block;
        text-decoration: underline;
        font-weight: 700;
        color: #ae431e;
    }

.content-link-center {
    display: block;
    padding-top: 5px;
    padding-bottom: 25px;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 10pt;
    color: black;
}

    .content-link-center:hover {
        display: block;
        text-decoration: underline;
        font-weight: 700;
        color: #ae431e;
    }

.login-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #efebe0;
    border-radius: 14.5px;
    width: 35%;
    border: 1px solid #efebe0;
}

.header {
    margin-bottom: 35px;
}

.content-no-margin {
    margin-bottom: 3px;
}

.login_logo_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25dvh;
    height: 25dvh;
}

.change_password_logo_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12.5dvh;
    height: 12.5dvh;
}

.form-group-element {
    margin-bottom: 25px;
}

.form-control {
    display: block;
    font-size: 11pt;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: transparent;
    border-bottom: 2px solid #333333;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

    .form-control:focus {
        font-weight: 700;
        background: transparent;
        border: 0.5px solid #ae431e;
        border-bottom: 2px solid #ae431e;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

/* Table */
.table {
    width: 80%;
    border: 3px solid #ffc95f;
    color: #862b0d;
}

.dropdown {
    cursor: pointer;
    margin-right: 10px;
}

    .dropdown i {
        transition: transform 0.3s ease;
    }

    .dropdown.open i {
        transform: rotate(90deg);
    }

.sub-topics {
    display: none;
}

    .sub-topics.show {
        display: block;
    }

.inner-row {
    display: flex;
    justify-content: space-between;
    list-style-type: disc;
}

.table-row-click {
    color: #862b0d;
    text-decoration: none;
}

.icon-click {
    color: #862b0d;
    outline: none;
    border: none;
    margin: 0;
    background-color: transparent;
}

    .icon-click:hover,
    .dropdown:hover {
        color: #ffc95f;
    }

/* Search Bar */
.search-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 3px solid #ffc95f;
    border-radius: 5px;
    width: 20em;
}

    .search-container input[type="text"] {
        flex: 1;
        width: 200px;
        padding: 10px;
        border: none;
        background-color: transparent;
    }

    .search-container i.fa-search {
        padding: 5px;
        color: #862b0d;
    }

    .search-container input[type="text"]:focus {
        outline: none;
    }

@media (max-width: 80em) {
    .table {
        width: 100%;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }
}
