.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
    width: max-content;
}

.item {
    flex: 1 1 auto;
    align-items: center;
    margin: 10px;
}

.container-inside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 25px;
    align-content: start;
    border-radius: 5px;
    border-style: solid;
    border-color: #862b0d;
}

.item-inside {
    flex: 1 1 auto;
    align-items: center;
    margin: 10px;
}
