body {
    background-color: #efebe0;
    font-family: "Montserrat", sans-serif;
    overflow: auto;
    color: #862b0d;
}

/* View Training First Page */
.container-full-pg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    height: 100vh;
    gap: 2em;
}

.description-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-container {
    border: 3px solid #febe3e;
    border-radius: 0.5em;
    padding: 10px;
    background-color: #d9d9d9;
    color: rgb(31, 31, 31);
    font-weight: 600;
    width: 100%;
    height: 80%;
    overflow-x: auto;
}

.image-container {
    width: 40%;
    height: 80%;
    background-color: aqua;
    border-radius: 0.5em;
    border: 3px solid #862b0d;
}

.button-container {
    background-color: #862b0d;
    border: 3px solid #febe3e;
    border-radius: 0.5em;
    text-align: center;
}

.btn-start {
    background-color: #862b0d;
    padding: 1em;
}

    .btn-start:hover {
        background-color: #6a220a;
    }

/* View Training Second Page */
.container-fluid {
    padding: 3em 5em;
    height: 100vh;
}

.video-container {
    border: 3px solid #862b0d;
    border-radius: 0.5em;
    padding: 5px;
    background-color: #862b0d;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn-arrow {
    outline: none;
    margin: 0;
    border: none;
    color: #febe3e;
    font-size: 40px;
    background-color: transparent;
}

    .btn-arrow:hover {
        color: #f7ad1a;
    }

/* Admin View Training */
.admin-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    border: 3px solid #febe3e;
    border-radius: 0.5em;
    padding: 1em;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    column-gap: 1em;
}

.cover-image-container {
    border: 3px solid #862b0d;
    border-radius: 0.5em;
    padding: 5px;
    width: 60%;
    height: 100%;
    margin: 0;
}

.edit-action {
    display: flex;
    column-gap: 5px;
    align-items: center;
    color: #862b0d;
    outline: none;
    border: none;
    margin: 0;
    background-color: transparent;
}

    .edit-action:hover {
        color: #ffc95f;
    }

/* Responsive */
@media (max-width: 60em) {
    .container-full-pg-1 {
        flex-direction: column;
        height: auto;
    }

    .description-container,
    .image-container,
    .button-container,
    .admin-description-container,
    .cover-image-container {
        width: 100%;
    }

    .content-container {
        flex-direction: column;
        row-gap: 1em;
    }
}

@media (max-width: 70em) {
    body {
        overflow: auto;
    }

    .container-fluid {
        height: auto;
        padding: 2em;
    }

    .video-container {
        width: 100%;
    }
}
