@inherits LayoutComponentBase
@inject NavigationManager navigate
@inject AdminService service

<div class="bb-page">
    <Sidebar @ref="sidebar"
             Title="LearnNest"
             DataProvider="SidebarDataProvider"
             class="sidebar" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a style="cursor: pointer;" @onclick="Logout" target="_blank">Logout</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        var userId = await service.GetUserIdAsync() ?? 0;
        if (navItems is null)
            navItems = await GetNavItems(userId);

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private async Task<IEnumerable<NavItem>> GetNavItems(int userId)
    {
        return new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/dashboardadmin", IconName = IconName.List, Text = "Dashboard" },
            new NavItem { Id = "2", IconName = IconName.Book, Text = "Training" },
            new NavItem { Id = "3", Href = "/viewTraining", IconName = IconName.CheckCircleFill, Text = "View Training", ParentId="2"},
            new NavItem { Id = "4", Href = "/addTraining", IconName = IconName.CheckCircleFill, Text = "Add Training", ParentId="2"},
            new NavItem { Id = "5", Href = "/categoryMain", IconName = IconName.List, Text = "View Category" },
        };

    }

    private async Task Logout()
    {
        await service.Logout();
        navigate.NavigateTo("/login");
    }
}

<style>
    :root {
        --bb-sidebar-top-row-background-color: #FFC95F;
        --bb-sidebar-top-row-border-color: #efebe0;
        --bb-sidebar-top-row-background-color: #FFC95F;
    }

    .bb-top-row {
        background-color: #FFC95F;
    }
</style>