@inherits LayoutComponentBase
@inject AdminService adminService

<CascadingValue Value="adminService.User.Id">
    <div class="bb-page">

    <Sidebar @ref="sidebar"
             Title="LearnNest"
             DataProvider="SidebarDataProvider"
             class="sidebar" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>
</CascadingValue>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/dashboardadmin", IconName = IconName.List, Text = "Dashboard" },
            new NavItem { Id = "2", IconName = IconName.Book, Text = "Training" },
            new NavItem { Id = "3", Href = "/viewTraining", IconName = IconName.CheckCircleFill, Text = "View Training", ParentId="2"},
            new NavItem { Id = "4", Href = "/addTraining", IconName = IconName.CheckCircleFill, Text = "Add Training", ParentId="2"},

            new NavItem { Id = "5", IconName = IconName.LayoutSidebarInset, Text = "Topic" },
            new NavItem { Id = "6", Href = "/addTopic", IconName = IconName.CheckCircleFill, Text = "Add Topic", ParentId="5"},

            new NavItem { Id = "7", IconName = IconName.LayoutSidebarInset, Text = "Sub Topic" },
            new NavItem { Id = "8", Href = "/addSubTopic", IconName = IconName.CheckCircleFill, Text = "Add Sub Topic", ParentId="7"},

            new NavItem { Id = "9", Href = "/categoryMain", IconName = IconName.List, Text = "View Category" },
        };

        return navItems;
    }
}

<style>
    :root {
        --bb-sidebar-top-row-background-color: #FFC95F;
        --bb-sidebar-top-row-border-color: #efebe0;
        --bb-sidebar-top-row-background-color: #FFC95F;
    }

    .bb-top-row {
        background-color: #FFC95F;
    }
</style>