@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             Title="LearnNest"
             DataProvider="SidebarDataProvider"
             class="sidebar"/>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/dashboard/{adminId:int}", IconName = IconName.HouseDoorFill, Text = "Dashboard", Match=NavLinkMatch.All},

            new NavItem { Id = "2", IconName = IconName.LayoutSidebarInset, Text = "User" },
            new NavItem { Id = "3", Href = "/viewAdmin", IconName = IconName.CheckCircleFill, Text = "View Admin", ParentId="2"},
            new NavItem { Id = "4", Href = "/createAdmin", IconName = IconName.CheckCircleFill, Text = "Add Admin", ParentId="2"},

            new NavItem { Id = "5", IconName = IconName.LayoutSidebarInset, Text = "Training" },
            new NavItem { Id = "6", Href = "/viewTraining/{adminId:int}", IconName = IconName.CheckCircleFill, Text = "View Training", ParentId="5"},
            new NavItem { Id = "7", Href = "/addTraining/{adminId:int}", IconName = IconName.CheckCircleFill, Text = "Add Training", ParentId="5"},

            new NavItem { Id = "8", IconName = IconName.LayoutSidebarInset, Text = "Topic" },
            new NavItem { Id = "9", Href = "/addTopic", IconName = IconName.CheckCircleFill, Text = "Add Topic", ParentId="8"},

            new NavItem { Id = "10", IconName = IconName.LayoutSidebarInset, Text = "Sub Topic" },
            new NavItem { Id = "11", Href = "/addSubTopic", IconName = IconName.CheckCircleFill, Text = "Add Sub Topic", ParentId="10"},

            new NavItem { Id = "12", IconName = IconName.LayoutSidebarInset, Text = "Training Category" },
            new NavItem { Id = "13", Href = "/categoryMain", IconName = IconName.CheckCircleFill, Text = "View Category", ParentId="12"},
        };

        return navItems;
    }
}

<style>
    :root {
        --bb-sidebar-top-row-background-color: #FFC95F;
        --bb-sidebar-top-row-border-color: #efebe0;
        --bb-sidebar-top-row-background-color: #FFC95F;
    }

    .bb-top-row {
        background-color: #FFC95F;
    }

</style>