@inherits LayoutComponentBase

<style>
    body {
        overflow: hidden;
    }

    main {
        overflow: hidden;
    }
</style>

<header>
    <SuperAdminNavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3 d-flex justify-content-center align-items-center" style="overflow-y: hidden; width: 100%">
        @Body
    </main>
</div>
