@page "/"
@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager navigate
@layout UserCategoriesLayout

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/categories-stylesheet.css" />

<div class="container">
    <h1 style="margin-top: 30px;">Welcome to LearnNest!</h1>
    <form class="search-container">
        <input type="text" placeholder="Search" @bind="searchTerm" @bind:event="oninput" />
        <i class="fa fa-search" @onclick="HandleSearch"></i>
    </form>
    <div class="category-container">
        @foreach (TrainingCategory ct in FilteredCategories)
        {
            <div class="category-box">
                <button @onclick="() => NavigateToTraining(ct.Id)" class="category-content">
                    <h4>@ct.CategoryName</h4>
                </button>
            </div>
        }
    </div>
</div>

@code {
    private TrainingCategory[] trainingcategory { get; set; } = Array.Empty<TrainingCategory>();
    private string searchTerm = string.Empty;
    private string errorMessage = string.Empty;

    private void NavigateToTraining(int categoryId)
    {
        navigate.NavigateTo($"/usertraining/{categoryId}");
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await SendAuthorizedRequest(HttpMethod.Get, "https://localhost:7095/api/TrainingCategory");
        if (response.IsSuccessStatusCode)
        {
            trainingcategory = await response.Content.ReadFromJsonAsync<TrainingCategory[]>() ?? Array.Empty<TrainingCategory>();
        }
    }

    private async Task ReloadCategories()
    {
        var response = await SendAuthorizedRequest(HttpMethod.Get, "https://localhost:7095/api/TrainingCategory");
        if (response.IsSuccessStatusCode)
        {
            trainingcategory = await response.Content.ReadFromJsonAsync<TrainingCategory[]>() ?? Array.Empty<TrainingCategory>();
        }
        StateHasChanged();
    }

    private IEnumerable<TrainingCategory> FilteredCategories
            => trainingcategory.Where(ct => string.IsNullOrEmpty(searchTerm) ||
                ct.CategoryName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));

    private async Task HandleSearch()
    {
        var response = await SendAuthorizedRequest(HttpMethod.Get, $"https://localhost:7095/api/TrainingCategory/search?searchTerm={searchTerm}");

        if (response.IsSuccessStatusCode)
        {
            trainingcategory = await response.Content.ReadFromJsonAsync<TrainingCategory[]>();
        }
        StateHasChanged();
    }

    private async Task<HttpResponseMessage> SendAuthorizedRequest(HttpMethod method, string url, HttpContent content = null)
    {
        var request = new HttpRequestMessage(method, url);
        request.Headers.Add("X-API-KEY", "KNOWLEDGESITEAPPAPI");

        if (content != null)
        {
            request.Content = content;
        }

        return await http.SendAsync(request);
    }

    public class ValidationErrorResponse
    {
        public Dictionary<string, string[]> Errors { get; set; }
    }
}